<!DOCTYPE html>
<html>
<head>
    <title>Server Health Monitor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta http-equiv="refresh" content="5">
</head>


<body class="bg-light">

<div class="container mt-5">

    <h1 class="text-primary text-center mb-5">
        Server Health Monitor
    </h1>

    <div class="alert alert-{{ system_color }} text-center fw-bold">System Status: {{ system_status }}</div>

    <div class="row">

        <!-- CPU Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow p-3">
                <h3>CPU Usage</h3>

                <p class="text-{{ cpu_color }} fs-4 fw-bold">
                    {{ cpu }}%
                </p>

                <div class="progress">
                    <div class="progress-bar bg-{{ cpu_color }}"
                         role="progressbar"
                         style="width: {{ cpu }}%;">
                        {{ cpu }}%
                    </div>
                </div>

                <p class="mb-0">CPU Cores: {{ cpu_cores }}</p>

                <p class="mb-0">Physical Cores: {{ physical_cores }}</p>

                <canvas id="cpuChart"></canvas>
            </div>
        </div>

        <!-- RAM Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow p-3">
                <h3>RAM Usage</h3>

                <p class="text-{{ ram_color }} fs-4 fw-bold">
                    {{ ram }}%
                </p>

                <div class="progress">
                    <div class="progress-bar bg-{{ ram_color }}"
                         role="progressbar"
                         style="width: {{ ram }}%;">
                        {{ ram }}%
                    </div>
                </div>

                <p class="mb-0">Total RAM: {{ total_ram }} GB</p>

                <p class="mb-0">Used RAM: {{ used_ram }} GB</p>

                <p class="mb-0">Available RAM: {{ aval_ram }} GB</p>

                <canvas id="ramChart"></canvas>
            </div>
        </div>

        <!-- Disk Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow p-3">
                <h3>Disk Usage</h3>

                <p class="text-{{ disk_color }} fs-4 fw-bold">
                    {{ disk }}%
                </p>

                <div class="progress">
                    <div class="progress-bar bg-{{ disk_color }}"
                         role="progressbar"
                         style="width: {{ disk }}%;">
                        {{ disk }}%
                    </div>
                </div>

                <p class="mb-0">Total Disk: {{ total_disk }} GB</p>

                <p class="mb-0">Used Disk: {{ used_disk }} GB</p>

                <p class="mb-0">Free Disk: {{ free_disk }} GB</p>

                <canvas id="diskChart"></canvas>
            </div>
        </div>

        <!-- Uptime Card -->
        <div class="col-md-6 mb-4">
            <div class="card shadow p-3">
                <h3>Uptime</h3>

                <p class="fs-4 fw-bold text-primary">
                    {{ uptime }}
                </p>

                <p class="text-center text-muted">Last Updated: {{ current_time }}</p>
            </div>
        </div>

    </div>

    <hr>

    <div class="card shadow mb-4">

        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">System Information</h4>
        </div>

        <div class="card-body">
            
            <p class="fw-bold">
                Hostname: {{ hostname }}
            </p>

            <p class="fw-bold">
                Operating System: {{ os_name }}
            </p>

            <p class="fw-bold">
                Username: {{ username }}
            </p>

            <p class="fw-bold">
                IP Address: {{ ip_address }}
            </p>

        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Network Information</h4>
        </div>

        <div class="card-body">
            <p class="fw-bold">Bytes Sent: {{ bytes_sent }} MB</p>
            <p class="fw-bold">Bytes Received: {{ bytes_received }} MB</p>
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary">
            Check Server
        </button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const cpu = {{ cpu }};
new Chart(document.getElementById("cpuChart"),
{
    type: "doughnut",
    data: {
        labels: ["Used", "Free"],
        datasets: [{
            data: [cpu, 100 - cpu],
            backgroundColor: ["red", "green"],
            borderWidth: 2
        }]
    },

    options: {
        responsive: true,
        plugins: {
            legend: {
                position: "bottom"
            }
        }
    }
});


const ram = {{ ram }};
new Chart(document.getElementById("ramChart"),
{
    type: "doughnut",
    data: {
        labels: ["Used", "Free"],
        datasets: [{
            data: [ ram, 100 - ram],
            backgroundColor: ["orange", "green"],
            borderWidth: 2
        }]
    },

    options: {
        responsive: true,
        plugins: {
            legend: {
                position: "bottom"
            }
        }
    }
})

const disk = {{ disk }};
new Chart(document.getElementById("diskChart"),
{
    type: "doughnut",
    data: {
        labels: ["Used", "Free"],
        datasets: [{
            data: [ disk, 100 - disk],
            backgroundColor: ["blue", "green"],
            borderWidth: 2
        }]
    },

    options: {
        responsive: true,
        plugins: {
            legend: {
                position: "bottom"
            }
        }
    }
})
</script>
</body>
</html>